#footer {
    padding-right: 8%;
    display: grid;
    grid-template-columns: 2fr repeat(2, 3fr);
    grid-template-areas: 'col1 col2 col3';
    gap: 1.5rem;
    height: 100%;
    // padding-top: 2rem;

    @include breakpoints-down(medium) {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'col1 col2'
                             'col3 col3';
    }

    @include breakpoints-down(small) {
        grid-template-columns: 1fr;
        grid-template-areas: 'col1'
                             'col2'
                             'col3';
    }

    #div1 {
        grid-area: col1;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .logo {
            padding: 1rem 0;
        }

        #social {
            padding: 1rem 0;
            img:not(:last-child) {
                padding-right: 8px;
            }

            img {
                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        @include breakpoints-down(small) {
            align-items: center;
        }
    }

    #div2 {
        grid-area: col2;
        align-items: center;
        justify-content: center;

        display: flex;
        flex-direction: row;
        a {
            padding: 5px;

            p {
                color: $lightGrayishBlue;
                padding: 0;
                margin: 0;
                margin-right: auto;
                font-size: 16px;

                &:hover {
                    color: $limeGreen;
                }
            }
        }

        #div2a {
            flex: 1;
            display: flex;
            flex-direction: column;
            left: 0;
        }

        #div2b {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        @include breakpoints-down(small) {

            p {
                text-align: center;
            }
        }

    }

    #div3 {
        grid-area: col3;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;

        p {
            font-size: 16px;
        }

        @include breakpoints-down(medium) {
            align-items: center;
        }
    }
    
}